/* Webfont: MAREKA-Regular */@font-face {
    font-family: 'MAREKA';
    src: url('MAREKA.eot'); /* IE9 Compat Modes */
    src: url('MAREKA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('MAREKA.woff') format('woff'), /* Modern Browsers */
         url('MAREKA.woff2') format('woff2'), /* Modern Browsers */
         url('MAREKA.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

