@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:underline text-ff-links;
  }
  body {
    @apply bg-calc-pink;
  }
  .stroke-outline {
    -webkit-text-stroke: 8px;
    -webkit-text-fill-color: #0000;
    text-stroke: 8px;
    text-fill-color: #0000;
  }
}
/* Webfont: MAREKA-Regular */
@font-face {
  font-family: "MAREKA";
  src: url("/MAREKA.eot"); /* IE9 Compat Modes */
  src:
    url("/MAREKA.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/MAREKA.woff") format("woff"),
    /* Modern Browsers */ url("/MAREKA.woff2") format("woff2"),
    /* Modern Browsers */ url("/MAREKA.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Canela";
  src:
    url("/Canela-Regular-Web.woff2") format("woff2"),
    url("/Canela-Regular-Web.woff") format("woff");
  font-style: normal;
  font-stretch: normal;
}
